:root {
    --editor-background: #1E1E1E;
    --editor-foreground: #D4D4D4;
    --tab-background-color: #252526;
    --tab-inactive-color: #2D2D2D;
    --meta-background: #007ACC;
    --meta-background-selected: #1F8AD2;
    --meta-foreground: #ffffff;
    --editor-selectionHighlightBackground: #ADD6FF26;
}
.snippet-tab,
.snippet-footer-action {
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.snippet {
    background-color: var(--editor-background);
    color: var(--editor-foreground);
    font-size: 1.2rem;
}
.snippet-header {
    background-color: var(--tab-background-color);
}
/* Hides the tab bar when the snippet is collapsed */
.snippet-header--collapsed {
    display: none;
}
.snippet-tab {
    background: var(--tab-inactive-color);
    color: var(--editor-foreground); 
    padding: 8px 16px 8px 10px;
}
.snippet-tab--active {
    background: var(--editor-background);
    font-weight: bolder;
}
.snippet-tab-file-icon{
    width: 30px;
    height: auto;
    vertical-align: middle;
}
.snippet-data{
    padding: 10px 20px;
}
.snippet-code-container {
    font-family: monospace;
}
.snippet-code-container--inactive {
    display: none;
}
.snippet-code-line-number {
    padding-right: 20px;
}
.snippet-line-number--collapsed {
    display: none;
}
.snippet-footer {
    background-color: var(--meta-background);
    color: var(--meta-foreground);
    display: flex;
    justify-content: space-between;
}
.snippet-footer-action {
    text-decoration: none;
    background-color: var(--meta-background);
    color: inherit;
    padding: 2px 10px;
}
.snippet-footer-action:hover {
    background-color: var(--meta-background-selected);
}

pre, .hljs{
    margin: 0px;
    padding: 0px;
}

